.about {
  display: grid;
  grid-template-columns: 80% auto;
  height: 100%;
  width: 100%;
}

.boxmain {
  padding: 2em;
}

@media screen and (max-width: 800px) {
  .about {
    grid-template-columns: 1fr;
  }
}
