:root {
  --medium-color: #727272;
  --light-color: #eee;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  line-height: 1.8;
  color: var(--medium-color);
}

main {
  container-type: inline-size;
  position: relative;
}

header {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding-inline: 1em;
  position: sticky;
  top: 0;
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1em 0 1em;
}

footer {
  background-color: rgb(255, 255, 255);
  color: var(--medium-color);
  padding: 1em;
  margin: 1em 2em;
  border-top: 1px solid var(--light-color);
  display: block;
}

.container {
  padding: 0;
}

nav {
  margin: 1em;
  border-bottom: 1px solid var(--light-color);
}

nav li {
  display: inline-block;
  padding: 1em;
}

a,
a:visited {
  color: rgb(2, 81, 150);
  text-decoration: none;
}

time {
  font-size: 0.8rem;
  display: block;
}

button {
  margin: 2em;
  padding: 0.5em 1.5em;
  border-radius: 50vw;
  border: 1px;
  transition: background-color 0.5s ease-in;
}

button:hover {
  background-color: #ccd5ae;
}

p {
  padding-block: 1em;
}

@container (width < 800px) {
  button {
    margin: 1em;
  }
  footer {
    padding: 1em 0;
  }
}
