:root {
  --dark-color: #505050;
  --light-gray: #686868;
  --medium-color: #ccff68;
  --light-color: #ffffff;
  --nav: #363636;
  --link: #ffbc57;
  --active: #242424;
  --bg_gradient: linear-gradient(
    90deg,
    rgba(80, 80, 80, 1) 0%,
    rgba(122, 122, 122, 1) 51%,
    rgba(80, 80, 80, 1) 100%
  );
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  line-height: 1.8;
  color: var(--medium-color);
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #696969;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  background-color: var(--dark-color);
  color: #fff;
}
main {
  container-type: inline-size;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  color: rgb(0, 0, 0);
  padding: 0.1em 1em;
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--bg_gradient);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.25rem;
  font-weight: 700;
  padding-block: 1em 0;
  color: var(--medium-color);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #a5e01c;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #a5e01c transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-bottom {
  padding-right: 0.5em;
}

.link-bottom {
  display: flex;
  gap: 0.5em;
}

.small_align_right {
  font-size: 0.8rem;
  text-align: right;
}
footer {
  color: var(--medium-color);
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  background: var(--bg_gradient);
}

.container {
  padding: 0;
}

.content {
  padding: 2em 5em;
  flex-grow: 1;
}

.content_colume {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}
.port_body ul {
  padding-block: 0 2em;
}
.post_body li {
  margin-left: 3em;
}
.post_body pre {
  overflow: auto;
}
.post_body table {
  border: 1px solid;
  border-collapse: collapse;
  font-size: 0.8rem;
  word-break: break-all;
}
.post_body thead {
  background-color: var(--nav);
}
.post_body th,
.post_body td {
  padding: 1em;
  border: 1px solid;
}
.post_body h2 + p,
.post_body h3 + p,
.post_body h4 + p,
.post_body h5 + p,
.post_body h6 + p {
  padding-top: 0.5em;
}
.post_body p + p {
  padding-top: 0;
}
.post_body p + blockquote {
  margin-top: 0;
}
.post_body blockquote {
  background-color: var(--nav);
  color: var(--light-color);
  margin: 1rem 0;
  padding: 0 1rem;
  border-left: 5px solid var(--active);
}
@container (width < 1200px) {
  .content_colume {
    grid-template-columns: repeat(2, 1fr);
  }
}

.content ul {
  padding: 1em 0;
}

.content ul li {
  margin: 1em 0;
}

.content li {
  list-style-type: none;
  padding-bottom: 2em 0;
}
.title {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0;
  line-height: 1.5;
}

.pagemessage {
  width: 100%;
  display: grid;
  place-content: center;
}

nav {
  margin: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

nav li {
  display: inline-block;
  padding: 1em;
  transition: background-color 0.5s ease;
}

nav li:hover {
  background-color: var(--active);
}

a,
a:visited {
  color: var(--link);
  text-decoration: none;
}

time {
  font-size: 0.8rem;
  display: block;
}

button {
  margin: 2em 0;
  padding: 0.5em 1.5em;
  border-radius: 50vw;
  border: 0;
  background-color: var(--nav);
  transition: background-color 0.5s ease-in;
  color: var(--light-color);
}

button:hover {
  background-color: var(--active);
}

p {
  padding-block: 1em;
}

.link {
  cursor: pointer;
  color: var(--light-color);
}

.profile {
  display: flex;
  gap: 0.5em;
}

.profile_img {
  border-radius: 50%;
}

.profile_block {
  position: absolute;
  z-index: 1;
  background-color: var(--active);
  padding: 1.5em 2em;
  width: max-content;
  right: 0.25em;
  top: 5em;
  color: var(--light-color);
  border-radius: 15px 0;
  animation: fadeIn 300ms ease-in;
}
.profile_block button {
  background-color: var(--light-color);
  cursor: pointer;
  color: var(--nav);
}
.profile_block span {
  display: block;
  padding-block: 0.4em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.small_btn {
  margin-block: 1em 0;
}

.post_container {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 2em 3em;
  gap: 3em;
  flex: 1;
}

.post_content {
  padding: 0 2em;
}

.post_title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--medium-color);
  padding: 1em 0 0;
}

.post_body {
  margin-block: 1em 2em;
  border-top: 1px dotted;
}

.post_sidemenu {
  display: block;
  padding: 1em 0;
  color: black;
  transition: transform 1s ease-in-out;
}

.post_listmenu {
  padding: 0;
  position: sticky;
  top: 10%;
}

.post_listmenu li {
  list-style-type: none;
  padding: 1em 2em;
  transition: background-color 0.5s ease-in;
  color: var(--light-color);
}

.post_listmenu li:hover {
  background-color: var(--dark-color);
}

.post_link {
  display: block;
}

.post_showhide {
  display: none;
  color: black;
}

.post_showhide span {
  display: block;
  cursor: pointer;
}

.post_rotate {
  transform: rotate(180deg);
}

.grid_table {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1em;
  padding: 0.5em 1em;
  margin-block: 0.2em;
}

.grid_table:nth-child(odd) {
  background-color: var(--light-gray);
}
.grid_table:hover {
  background-color: var(--active);
}

.grid_table span {
  padding-inline: 0.5em;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  padding: 2em 0 0;
}

.card {
  display: block;
  width: auto;
}

.home_image {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  position: relative;
  display: block;
  margin-bottom: 1em;
}

.home_head_text {
  margin-top: 1em;
  text-align: center;
}
.home_title {
  font-size: 1.1rem;
  padding-block: 1em;
  color: var(--medium-color);
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea,
.form select {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #eee;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.form input:focus,
.form textarea:focus,
.form select:focus {
  outline: 1px solid #121b9c;
}

.form textarea {
  height: 250px;
}

.form label {
  font-weight: bold;
  color: var(--light-color);
}

.about {
  display: grid;
  grid-template-columns: auto 350px;
  padding: 4em 5em 2em;
  gap: 3em;
}

.about p:last-child {
  padding-bottom: 0;
}

.boxmain {
  padding: 0;
}

.about_headText {
  font-weight: bold;
  padding-block: 0;
}

.about_bodyText {
  margin-top: 1em;
}

.about_content {
  padding: 0;
}

.ad {
  display: block;
  padding: 2em;
  color: var(--medium-color);
  border-left: 1px solid var(--light-color);
}

.small-button {
  padding: 0.8em 1em;
  margin: 0;
  background-color: darkred;
  color: white;
  animation: fadeIn 300ms ease-in;
  cursor: pointer;
}

.model-box {
  position: absolute;
  inset: 0;
  background-color: #727272;
  z-index: 2;
  color: #fff;
  padding: 2em;
  margin: 1em;
  animation: fadeIn 300ms ease-in;
}

.close-box {
  position: absolute;
  top: 0.5em;
  right: 1em;
  z-index: 3;
  cursor: pointer;
}

.mobile {
  transform: translateX(0);
}

.active {
  background-color: var(--active);
}
.active a:visited {
  color: var(--light-color);
}
@container (width < 1300px) {
  .content {
    padding: 1em 2em;
  }

  .content ul {
    padding: 0.2em 0;
  }

  .content_colume {
    display: block;
  }
  button {
    margin: 1em 0;
  }
  footer {
    padding: 1em 2em;
  }

  .post_container {
    display: block;
    padding: 0;
  }

  .post_sidemenu {
    display: block;
    position: absolute;
    overflow-y: auto;
    height: 80vh;
    padding: 2em;
    border: 1px solid var(--light-gray);
    background-color: var(--dark-color);
  }

  .post_showhide {
    display: block;
    position: absolute;
    z-index: 1;
    left: 1em;
  }
  .post_listmenu {
    top: 0;
  }
  .mobile {
    transform: translateX(-500px);
  }

  .post_title {
    padding-top: 2em;
    color: var(--light-color);
    font-size: 1.5rem;
  }
  .card_container {
    padding-inline: 0;
  }
  .about {
    grid-template-columns: 1fr;
    padding: 0 2em;
  }
  .boxmain {
    padding: 0;
  }
  .ad {
    padding: 2em 0;
    margin-inline: 0;
    border-left: none;
    border-top: 1px solid var(--light-color);
  }
  .about_headText {
    font-weight: bold;
    padding-top: 2em;
  }
}
/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

.hljs {
  background: #1e1e1e;
  color: #dcdcdc;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: #569cd6;
}
.hljs-link {
  color: #569cd6;
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: #4ec9b0;
}

.hljs-number,
.hljs-class {
  color: #b8d7a3;
}

.hljs-string,
.hljs-meta .hljs-string {
  color: #d69d85;
}

.hljs-regexp,
.hljs-template-tag {
  color: #9a5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  color: #dcdcdc;
}

.hljs-comment,
.hljs-quote {
  color: #57a64a;
  font-style: italic;
}

.hljs-doctag {
  color: #608b4e;
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-tag {
  color: #9b9b9b;
}

.hljs-variable,
.hljs-template-variable {
  color: #bd63c5;
}

.hljs-attr,
.hljs-attribute {
  color: #9cdcfe;
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
  font-family:'Monospace';
}*/

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #d7ba7d;
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
