:root {
  --dark-color: #535353;
  --medium-color: #727272;
  --light-color: #eee;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  line-height: 1.8;
  color: var(--medium-color);
}

main {
  container-type: inline-size;
  position: relative;
  height: 100vh;
  perspective: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0.1em 1em;
  position: sticky;
  top: 0;
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1em 0 1em;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #a5e01c;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #a5e01c transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-bottom {
  padding-right: 0.5em;
}

.link-bottom {
  display: flex;
  gap: 0.5em;
}

footer {
  background-color: rgb(255, 255, 255);
  color: var(--medium-color);
  padding: 1em;
  margin: 1em 2em;
  border-top: 1px solid var(--light-color);
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 0;
}

.content {
  padding: 2em 5em;
  background-color: #fff;
}

.content_colume {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

@container (width < 1200px) {
  .content_colume {
    grid-template-columns: repeat(2, 1fr);
  }
}

.content ul {
  padding: 1em 0;
}

.content ul li {
  margin: 1em 0;
}

.content li {
  list-style-type: none;
  padding-bottom: 2em 0;
}

.headimages {
  width: 100vw;
  height: 96%;
  position: relative;
  display: block;
  transform-style: preserve-3d;
  z-index: -1;
}

.hero_img {
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-10px) scale(2);
}

.headtext {
  font-size: clamp(1rem, 2vw + 1rem, 4rem);
  position: absolute;
  color: white;
  inset: 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateZ(-5px) scale(1.5);
  z-index: -1;
}

.headtext span {
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  width: 100%;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0;
  line-height: 1.5;
}

.pagemessage {
  width: 100%;
  height: 80vh;
  display: grid;
  place-content: center;
}

nav {
  margin: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

nav li {
  display: inline-block;
  padding: 1em;
  transition: background-color 0.5s ease;
}

nav li:hover {
  background-color: #ccd5ae;
}

a,
a:visited {
  color: rgb(2, 81, 150);
  text-decoration: none;
}

time {
  font-size: 0.8rem;
  display: block;
}

button {
  margin: 2em 0;
  padding: 0.5em 1.5em;
  border-radius: 50vw;
  border: 1px;
  transition: background-color 0.5s ease-in;
}

button:hover {
  background-color: #ccd5ae;
}

p {
  padding-block: 1em;
}

.link {
  cursor: pointer;
}

.profile {
  display: flex;
  gap: 0.5em;
}

.profile_img {
  border-radius: 50%;
}

.profile_block {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 1.5em 2em;
  width: max-content;
  right: 0.25em;
  top: 5em;
  border: 1px solid #eee;
  border-radius: 15px 0;
  animation: fadeIn 300ms ease-in;
}

.profile_block span {
  display: block;
  padding-block: 0.4em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.small_btn {
  margin-block: 1em 0;
}

.post_container {
  display: grid;
  grid-template-columns: 300px auto;
  padding: 2em 3em;
  gap: 3em;
}

.post_content {
  padding: 0 2em;
}

.post_title {
  font-weight: bold;
  padding: 1em 0 0;
}

.post_body {
  margin-top: 1em;
}

.post_sidemenu {
  display: none;
}

.post_sidemenu_full {
  display: block;
  padding: 1em 0;
  border-right: 1px solid var(--light-color);
  color: black;
}

.post_listmenu {
  padding: 0;
}

.post_listmenu li {
  list-style-type: none;
  padding: 1em 2em;
  transition: background-color 0.5s ease-in;
}

.post_listmenu li:hover {
  background-color: #fefae0;
}

.post_link {
  display: block;
}

.post_showhide {
  display: none;
  color: black;
}

.post_showhide span {
  display: block;
  cursor: pointer;
}

.post_rotate {
  transform: rotate(180deg);
}

.grid_table {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1em;
  padding: 0.5em 1em;
  margin-block: 0.2em;
}

.grid_table span {
  padding-inline: 0.5em;
}

.grid_table:nth-child(odd) {
  background-color: #f9f9f9;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  padding: 2em 0 0;
}

.card {
  display: block;
  width: auto;
}

.home_image {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  position: relative;
  display: block;
}

.home_head_text {
  margin-top: 1em;
  text-align: center;
}
.home_title {
  font-size: 1.1rem;
  padding-block: 1em;
  color: var(--medium-color);
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #eee;
}

.form input:focus,
.form textarea:focus {
  outline: 1px solid #121b9c;
}

.form textarea {
  height: 250px;
}

.form label {
  font-weight: bold;
}

.about {
  display: grid;
  grid-template-columns: auto 350px;
  padding: 4em 5em 2em;
  gap: 3em;
}

.about p:last-child {
  padding-bottom: 0;
}

.boxmain {
  padding: 0;
}

.about_headText {
  font-weight: bold;
  padding-block: 0;
}

.about_bodyText {
  margin-top: 1em;
}

.about_content {
  padding: 0;
}

.ad {
  display: block;
  background-color: rgb(255 255 255);
  padding: 2em;
  color: var(--medium-color);
  border-left: 1px solid var(--light-color);
}

.small-button {
  padding: 0.8em 1em;
  margin: 0;
  background-color: darkred;
  color: white;
  animation: fadeIn 300ms ease-in;
}

.model-box {
  position: absolute;
  inset: 0;
  background-color: #727272;
  z-index: 2;
  color: #fff;
  padding: 2em;
  margin: 1em;
  animation: fadeIn 300ms ease-in;
}

.close-box {
  position: absolute;
  top: 0.5em;
  right: 1em;
  z-index: 3;
  cursor: pointer;
}

@container (width < 800px) {
  .content {
    padding: 1em 2em;
  }

  .content ul {
    padding: 0.2em 0;
  }

  .content_colume {
    display: block;
  }
  button {
    margin: 1em 0;
  }
  footer {
    padding: 1em 0;
  }
  .post_container {
    display: block;
    padding: 0;
  }
  .post_sidemenu {
    display: block;
    transform: translateX(-350px);
    position: absolute;
    background-color: var(--light-color);
    overflow: scroll;
    height: 80vh;
    padding: 2em;
  }
  .post_sidemenu_full {
    display: none;
  }
  .post_showhide {
    display: block;
    position: absolute;
    left: 1em;
    z-index: 2;
  }
  .post_title {
    padding-top: 2em;
  }
  .card_container {
    padding-inline: 0;
  }
  .about {
    grid-template-columns: 1fr;
    padding: 0 2em;
  }
  .boxmain {
    padding: 0;
  }
  .ad {
    padding: 2em 0;
    margin-inline: 0;
    border-left: none;
    border-top: 1px solid var(--light-color);
  }
  .about_headText {
    font-weight: bold;
    padding-top: 2em;
  }
}
