.content {
  padding: 2em;
}

.content ul {
  padding: 2em;
}

.content li {
  list-style-type: none;
  padding-bottom: 2em;
}

.content li:last-child {
  padding-bottom: 0;
}

.headimages {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  position: relative;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .content {
    padding: 1em;
  }

  .content ul {
    padding: 1em;
  }
}
