.content {
  padding: 2em 5em;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #eee;
}

.form textarea {
  height: 250px;
}

.form label {
  font-weight: bold;
}
