.ad {
  display: block;
  background-color: rgb(255 255 255);
  padding: 2em;
  color: var(--medium-color);
  border-left: 1px solid var(--light-color);
}
@media screen and (max-width: 800px) {
  .ad {
    padding: 2em 0;
    margin-inline: 2em;
    border-left: none;
    border-top: 1px solid var(--light-color);
  }
}
