.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  background-color: rgb(128, 128, 128);
  border-radius: 10px;
}
.innerImage {
  width: 150px;
  height: 80px;
  position: relative;
  overflow: clip;
  background-color: dimgray;
  border-radius: 10px;
}
.innerImage img {
  object-fit: scale-down;
}
.imageTitle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background-color: rgba(77, 77, 77, 0.815);
  font-size: 0.8rem;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardImage {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.uploadComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: dotted 1px #eee;
  height: 150px;
  width: 100%;
  transition: all 0.3s ease;
}

.inputUpload {
  display: none;
}

.miniLink {
  cursor: pointer;
  text-align: center;
  background-color: rgb(41, 41, 41);
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 5px;
}
